# Created by http://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two .
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
zsh.dot/zshrc.local
vim/bundle/*
tmux/plugins/*
!tmux/plugins/tpm
!vim/dein/repos/github.com/Shougo/dein.vim
/vim/dein/

/etc/bundle/cache
/tmux/resurrect
vim/.netrwhist

/git/local_gitconfig
